* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 1000px;
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: #7ebbb8;
    color: white;
    margin-bottom: 40px;
}

.blogs {
    display: flex;
    justify-content: space-evenly;
    padding: 0 200px 20px 200px;

}

header h1 {
    padding: 20px 0 0 0;
    margin: 0;
}
header h3 {
    margin: 0;
    padding: 20px 0 20px 0;
}

button {
    color: rgb(0, 0, 0);
    background-color: antiquewhite;
    border: 4px;
    border-color: black;
    border-radius: 40px;
    cursor: pointer;
    padding: 4px 10px 4px 10px;
}

footer {
    width: 1000px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    background-color: #7ebbb8;
    color: white;
    height: 160px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.pinned-posts {
    display: block;
    margin: 0 auto;
    width: 1000px;
    position: relative;
}

main p {
    width: 1000px;
    margin: 0 auto;
    color: grey;
    border: 2px;
    border-style: none none solid none;
    border-color: grey;
    padding-bottom: 10px;
    margin-top: 40px;
}

div i {
    display: flex;
    align-items: center;
}

a {
    text-wrap: nowrap;
}

img {
    border-radius: 50%;
    justify-self: self-end;
}


.btn1 {
    background-color: green;
    color:white;
    text-transform: uppercase;
}
.btn2 {
    background-color: blue;
    color:white;
    text-transform: uppercase;
}
.btn3 {
    background-color: red;
    color:white;
    text-transform: uppercase;
}
.btn4 {
    background-color: rgb(78, 170, 163);
    color:white;
    text-transform: uppercase;
    margin-top: 15px;
}
.btn6 {
    background-color: grey;
    color:white;
    text-transform: uppercase;
}
.add-blog {
    display: block;
    margin: 0 auto;
    width: 1000px;
    position: relative;
    margin-top: 80px;
}
textarea {
    width: 1000px;
    margin-top: 20px;
}
input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 40px;
}

.recent-posts {
    display: block;
    margin: 0 auto;
    width: 1000px;
    position: relative;
}

.recent-posts1 {
    display: block;
    margin: 0 auto;
    width: 1000px;
    position: relative;
    margin-top: 100px;
}

.recent-posts1 img {
    width: 400px;
    margin-left: 0;
    border-radius: 0;
    position: relative;
}

.recent-posts1 h4 {
    position: absolute;
    bottom: 0;
    margin-left: 30px;
    background-color: #7ebbb8;
    padding: 5px;
}

.imagecontainer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

select {
    height: 40px;
    width: 200px;
    background-color: #d6fffb;
    transform: ease-in-out;
    transition: 0.3s;
}


