body {
    height: 9000px;
}
#page {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 600px;
}

#playstation {
    width: 70vw;
    background-image: url(./img/ps5.jpg);
    background-blend-mode: hue;
    background-size: cover;
    text-align: center;
}

#playstation h1 {
    color: rgb(223, 222, 231);
    font-size: 60px;
    border: 2px solid rgb(31, 8, 167);
    display: inline-block;
    padding: 10px;
    background-color: rgb(96, 142, 235);
}

button {
    padding: 10px;
    background-color: rgb(96, 142, 235);
    border: white;
    cursor: pointer;
    color: rgb(223, 222, 231);
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    border: 2px solid rgb(31, 8, 167);
}

button:hover {
    background-color: rgb(54, 135, 182);
}

#xbox {
    width: 30vw;
    background-image: url(./img/xbox.jpg);
    background-blend-mode: hue;
    background-size: cover;
    align-items: center;
    text-align: center;
}

#xbox h1 {
    color: rgb(223, 222, 231);
    font-size: 60px;
    border: 2px solid rgb(31, 8, 167);
    display: inline-block;
    padding: 10px;
    background-color: rgb(96, 142, 235);
}

#xbox:hover {
    width: 90vw;
    transition-duration: 200ms;
}

#progress div {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}



.after1 {
    border-radius: 50%;
    border: 8px double blue;
    font-size: 40px;
    padding: 24px;
    position: relative;
}

.after2 {
    border-radius: 50%;
    border: 8px double black;
    font-size: 40px;
    padding: 24px;
    position: relative;
}
.after3 {
    border-radius: 50%;
    border: 8px double black;
    font-size: 40px;
    padding: 24px;
    position: relative;
}
.after4 {
    border-radius: 50%;
    border: 8px double black;
    font-size: 40px;
    padding: 24px;
    position: relative;
}

.after1::after {
    position: absolute;
    width: 175px;
    bottom: 45px;
    background: black;
    content: "";
    height: 6px;
    z-index: 1;
    right: -182px;
}

.after2::after {
    position: absolute;
    width: 175px;
    bottom: 45px;
    background: black;
    content: "";
    height: 6px;
    z-index: 1;
    right: -182px;
}

.after3::after {
    position: absolute;
    width: 175px;
    bottom: 45px;
    background: black;
    content: "";
    height: 6px;
    z-index: 1;
    right: -182px;
}

.btn-inactive {
    background-color: gray;
}

.btn-active {
    background-color: blue;
}

.active {
    border-color: blue;
    
}

.hiddensearch {
    width: 1200px;
    margin: 0 auto;
    justify-content: space-evenly;
}

.search input {
    width: 0;
    align-items: center;
    border: none;
    outline: none;
    transition: 0.8s;
    background: transparent;
    font-weight: 500;
    
}

.search input::placeholder {
    color: black;
}

.search {
    display: flex;
    align-items: center;
    gap: 0px;
    background-color: rgb(211, 112, 73);
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px 20px;
    box-shadow: 0 5px 15px rgb(4, 3, 20);
    width: fit-content;
    height: 30px;

}

.search:hover input {
    width: 240px;
} 
#searchBtn {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

#searchBtn:hover  {
    scale: 1.2;
}

.container {
    width: 600px;
    height: 800px;
    background-color: #c5d9df;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: #3a4452;
    padding: 20px;
    border-radius: 10px;

}


.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(255, 255, 255, 0.2) ;
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal {
    width: 145px;
}

.flex1   {
    margin: 0 auto;
    width: 1200px;
    display: flex;
}


.increment {
    background-color: #c5d9df;
    width: 400px;
    border: 2px solid #c5d9df;
    border-radius: 20px;
    color: chocolate;
    padding: 20px;
}

#counter {
    font-weight: 900;
    font-size: 40px;
}

.faq {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .question {
    cursor: pointer;
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 5px;
  }
  
  .answer {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
  }


  .flex2 {
    display: flex;
    margin: 0 auto;
    width: 1200px;
    justify-content: space-between;
  }