* {
    box-sizing: border-box;
}

#iCompany {
    width: 1430px;
    display: block;
    margin: 0 auto;
    background-color: white;
}

nav {
    background-color:#013560;
    color: white;
    display: flex;
    height: 70px;
    width: 1430px;
    padding: 0px 89.52px 0px 89.49px;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
}

a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

header {
    background-image: linear-gradient(rgba(18, 18, 19, 0.5), rgba(17, 17, 16, 0.5)), url("./img/biz-header.jpg");
    background-position: center;
    height: 486px;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    width: 1430px;
}


header div h1 {
    font-size: 45px;
}

.button {
    background-color: #013560;
    padding: 12px 30px 13px 30px;
    color: white;
    border-radius: 10px;
}

.button:hover {
    background-color: #79bbbb;
}

header  div h5 {
    padding: 20px 0 20px 0;
}

.swiper {
    width: 1287px;
    height: 486px;

    margin-top: 40px;
  }



  .aboutus {
    padding: 30px 25px 30px 25px;
    width: 1287px;
    display: grid;
    place-items: center;
    align-items: center;
}

.aboutus h1 {
    position: relative;
    padding-bottom: 20px;
    font-size: 40px;
}

.aboutus h1.be4after::after {
    position: absolute;
    width: 60px;
    bottom: 0;
    left: 20px;
    background: #013560;
    content: "";
    height: 2px;
    justify-items: center;
}

.aboutus h1.be4after::before {
    position: absolute;
    width: 20px;
    left: 40px;
    bottom: -8px;
    background: #013560;
    content: "";
    height: 20px;
    z-index: 2;
    border-radius: 50%;
}

.aboutus h6 {
    color:
        #666666;
}

.aboutus h4 {
    font-size: 12px;
}
.container1 {
    display: flex;
    margin-top: 40px;
    gap: 40px;
}

.ourservice {
    padding: 30px 25px 30px 25px;
    width: 1287px;
    display: grid;
    place-items: center;
    align-items: center;
}

.ourservice h1 {
    position: relative;
    padding-bottom: 20px;
    font-size: 40px;
}

.ourservice h1.be4after::after {
    position: absolute;
    width: 60px;
    bottom: 0;
    left: 60px;
    background: #013560;
    content: "";
    height: 2px;
    justify-items: center;
}

.ourservice h1.be4after::before {
    position: absolute;
    width: 20px;
    left: 80px;
    bottom: -8px;
    background: #013560;
    content: "";
    height: 20px;
    z-index: 2;
    border-radius: 50%;
}

#servicecards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.ourteam {
    padding: 30px 25px 30px 25px;
    width: 1287px;
    display: grid;
    place-items: center;
    align-items: center;
}

.ourteam h1 {
    position: relative;
    padding-bottom: 20px;
    font-size: 40px;
}

.ourteam h1.be4after::after {
    position: absolute;
    width: 60px;
    bottom: 0;
    left: 60px;
    background: #013560;
    content: "";
    height: 2px;
    justify-items: center;
}

.ourteam h1.be4after::before {
    position: absolute;
    width: 20px;
    left: 80px;
    bottom: -8px;
    background: #013560;
    content: "";
    height: 20px;
    z-index: 2;
    border-radius: 50%;
}

#teamcard-container {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.form {
    width: 1430px;
    display: flex;
    gap: 10;
    justify-content: center;
}    

form {
    width: 643px;
}
input#name {
    width: 643px;
    height: 40px;
}
input#email {
    width: 643px;
    height: 40px;
}
input#subject {
    width: 643px;
    height: 40px;
}
input#message {
    width: 643px;
    height: 100px;
    margin-bottom: 20px;
}

input#message::placeholder {
    position: absolute; 
    top: 10px;
}

input {
    border-bottom: black;
    border: 1px;
    border-style: none none solid none;
}

.form h3 {
    text-align: center;
}

.contact {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.contactlist {
    padding: 40px;
    width: 321.75px;
    height: 200px;
    background-color: rgb(221, 228, 235);
    text-align: center;
    align-items: center;
}  

.contactlist img {
    margin: 0 auto;
}

footer { 
    width: 1430px;
    background-color: #013560;
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding: 20px;
    justify-content: space-around;

}
.quicklinks2{ 
    display: flex;
    width: 480px;
    gap: 60px;
}

.footer1 {
    width: 480px;
}
footer h1 {
    font-size: 16px;
    width: 1430px;
    text-align: center;
    border: 2px white;
    border-style: solid none none none;
    padding-top: 10px;
}

.form {
    display: flex;
}

.form h3 {
    text-align: center;
}

.svgcontact {
    display: flex;
    margin-top: 20px;
}
.aboutnav {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
}

.aboutnav img {
    height: 8px;
    width: 12px;
}

nav li a {
    display: flex;
    align-items: center;
    gap: 10px;
}
nav ol a {
    display: block;
}

nav ol a:hover {
    background-color: #013560;
}

#dropdownabout {
    position: relative;

}
#dropdownabout:hover .hiddendropdown {
    display: block;
}
.hiddendropdown {
    background-color: #43759d;
    width: 160px;
    position: absolute;
    transition: opacity 3ms;
    top: 45px;
    left: -20px;
    display: none;
    border-radius: 5px;
    border: 2px solid #43759d;
}

.hiddendropdown1 {
    background-color: #43759d;
    width: 200px;
    position: absolute;
    left: -20px;
    top: 45px;
    transition: opacity 3ms;
    display: none;
    border: 10px solid #43759d;
    border-radius: 5px;
}

#userinput {
    background-color: #43759d;
    padding: 20px;
    
    border-radius: 20px;
    color: black;
    position: absolute;
    left: 30%;
    width: 700px;
    top: 30%;
    display: none;
    z-index: 2;
}

#userinput.show{
    display: block;
}

#userinput  h1 { 
    font-size: 32px;
}
#userinput  input { 
    border-radius: 20px;
    margin: 8px 4px;
}

.fillfrom{
    display: flex;
    justify-content: space-between;
}
.fillfrom img {
    margin-right: 25px;
    padding: 2px;
    cursor: pointer;
}
.fillfrom h1 {
    margin-left: 250px;
}